

.preview-card {
  // padding: 20px;
}

.scratch-placeholder {
  background-color: #f86565;
  padding: 40px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.result-card {
  padding: 40px;
  font-size: 18px;
  font-weight: bold;
  background: #fff8dc;
  border-radius: 10px;
}
